input[type="”file”"] #input_file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

label[for="input_file"] {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  background-color: #007bff;
  display: inline-block;
  transition: all 0.5s;
  cursor: pointer;
  padding: 10px 35px !important;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  border-radius: 0.25rem;
  margin-top: 10%;
}

#btn_upload {
  transition: all 0.5s;
}

body {
  background-image: url("img/logo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
